* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "segoe ui", sans-serif;
    text-decoration: none;
    transition: 0.2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    font-size: 0.875rem;
}

nav {
    font-size: 0.85rem;
}

.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.nav-item {
    padding: 0px 5px;
}

.table {
    font-size: 0.85rem;
}

.colortext {
    text-decoration: none;
    color: #5479f7;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #5479f7;
    color: #ffffff;
    text-align: center;
}

.table th,
.table td {
    padding: 10px 10px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #5479f7;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #5479f7;
}

.card {
    margin: 5px;
    margin-top: 25px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #5479f7;
}

.card-headerjadwal {
    text-align: center;
}

.btn:hover {
    background-color: #4869d5;
}

.btn-primary {
    background-color: #5479f7;
}

.btn-primary:hover {
    background-color: #4869d5;
}

.btn-danger {
    background-color: #ff0000;
}

.btn-danger:hover {
    background-color: #d50000;
}

.btn-warning {
    background-color: #fdc621;
}

.btn-warning:hover {
    background-color: #d5a621;
}

.btn-sm {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.row {
    margin: 0px;
    padding: 0px;
}

.col-sm-4 {
    padding: 0px;
}

.col-sm-10 {
    padding: 0px;
}

.nav-item dropdown {
    justify-content: space-between;
}

.dropdown-menu {
    padding: 0px;
}

.dropdown-item {
    padding: 0px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-item a {
    padding: 0.5rem 1rem;
    display: block;
    width: 100%;
}

.dropdown-item a:hover {
    background-color: #f1f1f1;
}

.dropdown-item a i {
    margin-right: 0.5rem;
}

.dropdown-item a span {
    font-size: 0.85rem;
}

.collapse {
    padding: 0px;
    justify-content: space-between;
}

.containerpresensi {
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.containerpresensi header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.containerpresensi .form {
    margin-top: 30px;
}
.form .input-boxpresensi {
    width: 100%;
    margin-top: 20px;
}
.input-boxpresensi label {
    color: #333;
}
.form :where(.input-boxpresensi input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.input-boxpresensi input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #5479f7;
    border-radius: 10px;
}
.form button:hover {
    background: #4869d5;
}
/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}

.page-heading {
    margin: 0px 10px;
    padding: 120px 0px;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-heading .text-content h4 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.page-heading .text-content h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

/* pengajuan edit */
.containereditdata {
    margin: auto;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.containereditdata .titleeditdata {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.containereditdata .titleeditdata::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #5479f7, #68a9ff);
}
.contenteditdata form .user-detailsedit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.bagiandata span.bagiandata-details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.bagiandata select {
    height: 45px;
    width: 161%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.bagiandata .input-boxeditdata {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.bagiandata .input-boxeditdata input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.bagiandata .input-boxeditdata input:focus,
.bagiandata .input-boxeditdata input:valid {
    border-color: #5479f7;
}
.bagiandata .input-boxeditdata select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.bagiandata .input-boxeditdata select:focus,
.bagiandata .input-boxeditdata select:valid {
    border-color: #5479f7;
}

.user-detailsedit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-detailsedit .input-boxeditdata {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-boxeditdata span.detailsedit {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-detailsedit .input-boxeditdata input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-detailsedit .input-boxeditdata input:focus,
.user-detailsedit .input-boxeditdata input:valid {
    border-color: #5479f7;
}
form .buttoneditdata {
    height: 45px;
    margin: 35px 0;
}
form .buttoneditdata input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #5479f7, #68a9ff);
}
form .buttoneditdata input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #5479f7, #68a9ff);
}
@media (max-width: 584px) {
    .containereditdata {
        max-width: 100%;
    }
    form .user-detailsedit .input-boxeditdata {
        margin-bottom: 15px;
        width: 100%;
    }
    .content form .user-detailsedit {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-detailsedit::-webkit-scrollbar {
        width: 5px;
    }
}
@media (max-width: 459px) {
    .containereditdata .contenteditdata {
        flex-direction: column;
    }
}

.input-boxeditdata textarea {
    height: 100px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
