* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "segoe ui", sans-serif;
    text-decoration: none;
    transition: 0.2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    font-size: 0.875rem;
}

nav {
    font-size: 0.85rem;
}

.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.nav-item {
    padding: 0px 5px;
}

.table {
    font-size: 0.85rem;
}

.colortext {
    text-decoration: none;
    color: #5479f7;
}