* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "segoe ui", sans-serif;
    text-decoration: none;
    transition: 0.2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    font-size: 0.875rem;
}

nav {
    font-size: 0.85rem;
}