<head>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="dashbooard.css">
</head>


<body>
    <div class="card" id="quickprofile">
        <div class="card-header">
            <h2><span style="color: #5479F7">Udin Syarifudin</span></h2>
            <p style="font-size: 16px; color: #817F7F;">Spesialis Bedah</p>
        </div>
        <div class="card-body">

            <div class="picture">
                <i class='bx bxs-user-circle' style="font-size: 200px; color: #A7B4DF;"></i>
            </div>

            <div class="grid-container">

                <div class="grid-item profile-name">
                    <h5>Nama</h5>
                    <p style="font-size: 22px; font-weight: 700; color: #5479F7">Udin Syarifudin</p>
                </div>


                <div class="grid-item profile-email">
                    <h5>E-Mail</h5>
                    <p style="font-size: 22px; font-weight: 700; color: #5479F7">udinsedunia@email.com</p>
                </div>

                <div class="grid-item profile-title">
                    <h5>Jabatan</h5>
                    <p style="font-size: 22px; font-weight: 700; color: #5479F7">Spesialis Bedah</p>
                </div>
                <div class="grid-item profile-address">
                    <h5>Alamat</h5>
                    <p style="font-size: 22px; font-weight: 700; color: #5479F7">Jl. Karangturi 2, Lubukngigau, Ohio Selatan</p>
                </div>
            </div>

        </div>
    </div>

    <div class="card" id="calendar">
        <div class="month">
            <h3 style="font-weight: 700; text-align: center; font-size: 36px;">Januari</h3>
        </div>
        <div class="date">
            <p><span style="font-size: 128px; font-weight: 700;">23</span></p>
        </div>
        <div class="year">
            <p><span style="font-weight: 700; font-size: 40px;">202X</span></p>
        </div>

    </div>

    <div class="card" id="schedule">
        <div class="tablehead" id="tablehead">
            <h3><span style="font-weight: 700;">Jadwal</span></h3>
            <div class="scheduletable">
                <table>
                    <thead class="sched">
                        <tr>
                            <th>Waktu</th>
                            <th>Lokasi</th>
                            <th>Ruangan</th>
                            <th>Operasi</th>
                        </tr>
                    </thead>
                    <tbody class="sched">
                        <tr>
                            <td>09.00 - 12.00</td>
                            <td>Gedung B</td>
                            <td>Ruang Melati 3</td>
                            <td>Operasi Kaki Ganda</td>
                        </tr>
                        <tr>
                            <td>13.00 - 16.00</td>
                            <td>Gedung C</td>
                            <td>Ruang Kenanga 3</td>
                            <td>Operasi Perkalian</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card" id="present">
        <div class="presenthead">
            <h3><span style="font-weight: 700; color: #5479F7">Rekap Presensi</span></h3>
            <div class="presenttable">
                <table class="presentsum">
                    <thead class="sumhead">
                        <tr>
                            <th>Jumlah Hadir</th>
                            <th>Cuti Diambil</th>
                            <th>Cuti Tersisa</th>
                            <th>Absen</th>
                        </tr>
                    </thead>
                    <tbody class="sumbody">
                        <tr>
                            <td>25</td>
                            <td>5</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>