body {
    box-sizing: border-box;
}

.layout {
    margin-top: 100px;
    margin-left: 260px;
    box-shadow: 0px 0px 20px 10px rgba(23, 67, 66, 0.25);
    border-radius: 10px;
    width: 1200px;
    height: 1720px;
    margin-bottom: 100px;
}

.profiletable td {
    padding: 15px;
}

.profilehead {
    border: 1px solid;
    margin-left: 100px;
    width: 160px;
    top: 20px;

}

.leftprofile {
    font-size: 20px;
    font-weight: 400;
    opacity: 60%;
}

.rightprofile {
    font-size: 20px;
    font-weight: 600;
}

.cardhead {
    left: 200px;
    margin-left: 100px;
    margin-right: 950px;
    margin-bottom: 30px;
    color: #5479F7;
}

.cardhead-container {
    padding-top: 100px;
}

.profilegrid {
    margin-top: 20px;
    margin-left: 100px;
    width: fit-content;
    height: 560px;
    display: grid;
    grid-template-columns: 380px 630px;
    grid-template-rows: 492px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 0px 0px 20px 10px rgba(23, 67, 66, 0.25);
    border-radius: 10px;
}

.profile {
    margin-top: 4%;
}

.profiletable {
    border-spacing: 20px;
}

.profileavatar {
    margin-top: 4%;
    grid-area: 1 / 1 / 2 / 2;

}

.profilelist {
    grid-area: 1 / 2 / 2 / 3;
}

.familyhead {
    margin-top: 80px;
    margin-right: 870px;
    margin-bottom: 30px;
}

.familytable
{
    margin-left: 100px;
    padding: 15px;
    /* border: 1px solid; */
    margin-right: 100px;
    box-shadow: 0px 0px 20px 10px rgba(23, 67, 66, 0.25);
    border-radius: 10px;

}

.famtab
{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    font-weight: 600;
    width: 970px;
    text-align: center;
    
}

.famtab th
{
    border:1px solid #b3adad;
    padding: 15px;
}

.famtab td
{
    border:1px solid #b3adad;
	text-align: center;
	padding: 25px;

}

.educationhead
{
    margin-top: 80px;
    margin-right: 850px;
    margin-bottom: 30px;

}