<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="navbar.css">
  
    <title>Navbar</title>
</head>

<body>
    
    <header>

        <a href="#" class="logo"><i class="ri-dashboard-line"></i><span>Dashboard</span></a>

        <ul class="navbar">
            <li><a href="#">Data Diri</a></li>
            <li><a href="#">Jadwal</a></li>
            
        </ul>

        <div class="user"><i class="ri-user-fill"></i>Udin Syarifudin</div>

    </header>


    <script src="js/script.js"></script>
</body>
</html>